/* *{
    background-color: #fff9f9;
    padding: auto;
    margin: auto;
    text-align: centre;}
.App {
    text-align: center;
}
#day{
    initial-value:none;
}
.container{
    background-color: rgb(255, 255, 255);
}
.loginform{
    padding-top: 20px;
    background-color: white;
    width: 550px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;

    

} */